---
// src/components/Proyectos.astro
import type { Proyecto } from '../types';
let { proyectos } = Astro.props;
const { infoContacto } = Astro.props;

// Ordenar los proyectos por la propiedad 'orden' de manera ascendente
proyectos = proyectos.sort((a, b) => parseInt(a.orden) - parseInt(b.orden));
---
<section id="proyectos" class="container mx-auto px-6 py-12">
  <h2 class="text-2xl font-bold mb-8 text-center uppercase tracking-tight" style="color: var(--color-secondary)">
    Proyectos / portfolio
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {proyectos.map((proyecto) => (
      <a 
        href={`/proyectos/${proyecto.slug}`} 
        class="group block overflow-hidden rounded-lg shadow-md hover:shadow-xl transition-all duration-300"
      >
        <div class="relative overflow-hidden h-64">
          <img
            src={proyecto.imagenes[0]}
            alt={proyecto.titulo}
            class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-500"
            loading="lazy"
          />
          <div class="absolute inset-0 bg-black/10 group-hover:bg-black/20 transition-colors duration-300" />
        </div>
        <div class="p-3 bg-white">
          <h3 class="text-lg font-semibold" style="color: var(--color-primary)">
            {proyecto.titulo}
          </h3>
          <p class="text-gray-600 line-clamp-2 tracking-tighter text-sm leading-4">{proyecto.descripcion}</p>
          {proyecto.categorias.split(',').map(categoria => (
            <span class="inline-block mt-2 px-3 py-1 text-sm rounded mr-1" style="background-color: var(--color-beige); font-size: 9px; text-transform: uppercase; padding: 4px; padding-left: 7px; padding-right: 7px; line-height: 17px;">
            {categoria.trim()}
            </span>
            ))}
        </div>
      </a>
    ))}
  </div>
</section>